[Desktop Entry]
Type=Application
Terminal=false
Name=BURAI
GenericName=GUI of Quantum ESPRESSO
Comment=BURAI is GUI of Quantum ESPRESSO
Exec=burai.sh %F
Icon=com.github.burai_team.BURAI
